
@{
    ViewBag.Title = "Upcoming Appointments";
}

    <div class="table-responsive border rounded" >
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th >Time</th>
                    <th>Patient Number</th>
                    <th>Patient Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07:30</td>
                    <td>1245</td>
                    <td>Riana Steyn</td>
                    <td ><button class="btn btn-success" type="button">Begin</button></td>
                </tr>
                <tr>
                    <td>08:30</td>
                    <td>1632</td>
                    <td>Gregory Mills</td>
                    <td><button class="btn btn-success" type="button">Begin</button></td>
                    <td></td>
                </tr>
                <tr>
                    <td>09:30</td>
                    <td>1738</td>
                    <td>Chuck Norris</td>
                    <td><button class="btn btn-success" type="button">Begin </button></td>
                </tr>
               
            </tbody>
        </table>
    </div>

