
@{
    ViewBag.Title = "Blood Test Result";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProduct"><i class="fas fa-backward"></i> Back</button>
<hr />
<center><img src="~/Images/Yaseera Pathology Report.jpg" style="width:700px"/></center>

