
@{
    ViewBag.Title = "X-Ray";
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProduct"><i class="fas fa-backward"></i> Back</button>
<hr />
<center><img src="~/Images/X-ray/X-ray.png" /></center>

