@model IEnumerable<DrSavvy.Models.Medication>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button type="button" class="btn " data-toggle="modal" data-target="#addMedication" style="border-radius:20px;color:white;background-color:#1a6490">Add New Medication</button>
<hr style="background-color:white"/>
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend" style="color:dodgerblue;">
        <span class="input-group-text" id="basic-text1" style="background-color:dodgerblue;">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    <input type="text" class="form-control fa-search "style="background-color:rgba(0,0,0,0.27);border-radius:20px"   placeholder="Search here..." aria-label="Recipient's username" aria-describedby="button-addon2" id="Search">
</div>
<br />
<table class="table-dark table-striped table table-hover" style="border-radius: 25px;" id="tblMedication">
    <tr>
        <th>
            @Html.DisplayName("Medication Description")
        </th>
        <th scope="col">
            Modify
        </th>
        <th scope="col">
            Remove
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mediction_Description)
            </td>
            <td>
                <button type="button" class="btn btn-warning" style="border-radius:20px" data-toggle="modal" onclick="DisplayModal('Edit/@item.Medication_ID')">
                    <i class="fas fa-user-edit fa-lg"></i>
                    <span>
                        <strong>Modify</strong>
                    </span>
                </button>

            </td>
            <td>

                <button type="button" class="btn btn-danger" data-toggle="modal" style="border-radius:20px" onclick="DisplayModal('Delete/@item.Medication_ID')">
                    <i class="far fa-trash-alt fa-lg"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </button>
            </td>
        </tr>
    }

</table>
<iframe src="Create/" class="modal modal-lg" id="addMedication" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="editMedication" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="DeleteMedication" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<script>
    var call;
    function DisplayModal(test) {
        document.getElementById('editMedication').src = test;
        $("#editMedication").modal("show");

    }

    function DisplayModal(test) {
        document.getElementById('DeleteMedication').src = test;
        $("#DeleteMedication").modal("show");

    }
</script>