@{
    ViewBag.Title = "Outstanding Reports";
}
<h1>Generate Reports for Outstanding Type</h1>
<hr style="background-color:dodgerblue" />
<br />
<div class="table-responsive border rounded border-dark" style="margin-left: 29px;height: 223px;margin-top: -4px;width: 700px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="background-color: #1E90FF;color: #ffffff;">Date From</th>
                <th style="background-color: #1E90FF;color: #ffffff;">Date To</th>
                <th style="background-color: #1E90FF;color: #ffffff;">Outstaninding Report</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="border rounded border-primary" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" type="date" /></td>
                <td><input class="border rounded border-primary" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" type="date" /></td>
                <td>
                    <div class="btn-group">
                        <button id="text" type="button" class="btn-secondary dropdown-toggle bg-dark border-dark rounded " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:220px ; " background-color: #1E90FF"">
                            Outstanding Payments
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"  id="medical" onclick="myfunction()">Medical Aid Claims</a>
                            <a class="dropdown-item" id="payment" onclick="myfunction1()">Payments</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
    <div class="btn-group" role="group" style="margin-left: 193px">
        <button class="btn btn-primary bg-success border-success" type="button" style="height: 32px;padding: 4px;width: 71px;" data-toggle="modal" data-target="#View">View</button>
        <button class="btn btn-primary bg-danger border-danger" type="button" style="height: 32px;margin-left: 2px;padding: 5px;width: 74px;" data-toggle="modal" data-target="#Print">Print</button>
    </div>
</div>



<!--Confirm Print Modal-->
<div class="modal fade" id="Print" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Print Report </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Print a Report</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" >Confirm</button>
            </div>
        </div>
    </div>
</div>

<!--Confirm View Modal-->
<div class="modal fade" id="View" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Report has been Generated and Stored in The Recent Reports folder on Desktop</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function myfunction()
 { 
    var myText = document.getElementById("medical").innerText;
    document.getElementById('text').innerHTML = myText;
 } 
        function myfunction1()
 { 
    var myText = document.getElementById("payment").innerText;
    document.getElementById('text').innerHTML = myText;
 } 
</script>