@model IEnumerable<DrSavvy.Models.Medical_Aid_Scheme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn" data-toggle="modal" data-target="#addMedAidScheme"  style="border-radius:20px;color:white;background-color:#1a6490">New Medical Aid Scheme</button>
<button type="button" class="btn"  onclick="window.top.location.href='/Company/Index'" style="border-radius:20px;color:white;background-color:#1a6490;float:right"> Medical Aid Companies</button>
<hr />
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend" style="color:dodgerblue;">
        <span class="input-group-text" id="basic-text1" style="background-color:dodgerblue;">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    <input type="text" class="form-control fa-search "style="background-color:rgba(0,0,0,0.27);border-radius:20px"  placeholder="Search here..." aria-label="Recipient's username" aria-describedby="button-addon2" id="Search">
</div>
<br />

<script src="~/Scripts/jquery-3.4.1.min.js">

</script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>

<table class="table-dark table-striped table table-hover" style="border-radius: 25px;" id="tblMedAidScheme">
    <tr>
        <th>
            @Html.DisplayName("Scheme Name")
        </th>
        <th>
            @Html.DisplayName("Company Name")
        </th>
        <th scope="col">
            Modify
        </th>
        <th scope="col">
            Remove
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.Scheme_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medical_Aid_Company.Company_Name)
            </td>
            <td>
                <button type="button" class="btn btn-warning" style="border-radius:20px" data-toggle="modal" onclick="DisplayModal('Edit/@item.Scheme_ID')">
                    <i class="fas fa-user-edit fa-lg" data-toggle="modal" data-target="#ConEdit"></i>
                    <span>
                        <strong>Modify</strong>
                    </span>
                </button>

            </td>
            <td>

                <button type="button" class="btn btn-danger" style="border-radius:20px" data-toggle="modal" onclick="DisplayModal('Delete/@item.Scheme_ID')">
                    <i class="far fa-trash-alt fa-lg"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </button>
            </td>
        </tr>
    }

</table>
<iframe src="Create/" class="modal modal-lg" id="addMedAidScheme" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-sm" id="editMedAidScheme" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:50%; top:15%; left:35%;border-radius:20px;background-color:rgba(0,0,0,0)">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="DeleteMedAidScheme" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<script>
    var call;
    function DisplayModal(test) {
        document.getElementById('editMedAidScheme').src = test;
        $("#editMedAidScheme").modal("show");

    }

    function DisplayModal(test) {
        document.getElementById('DeleteMedAidScheme').src = test;
        $("#DeleteMedAidScheme").modal("show");

    }
</script>

