@model DrSavvy.Models.Product_TypeClass
@{
    ViewBag.Title = "Reconilliation";
}

<div class="form-group">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color:dodgerblue; color:white;border-top-left-radius:20px;border-bottom-left-radius:20px">Reconciliation Criteria:</span>
            </div>
            @if (ViewBag.SupplierList != null)
            {
                @Html.DropDownListFor(m => m.Product_Type_ID, ViewBag.SupplierList as SelectList, "-- Select Criteria --", new { @class = "form-control", required = "required" ,@style="background-color:black;color:white;border-top-right-radius:20px;border-bottom-right-radius:20px"})

            }
            @Html.ValidationMessageFor(model => model.Product_Type_ID, "", new { @style = "color:red" })


        </div>
    </div>
</div>
<div id="reco" style="display:none">
    <form>
        <br />
        <hr style="background-color:dodgerblue;" />
        <h2 style="color:dodgerblue"> Reconciliation List </h2>
        <br />
        <table class="table table-striped table-dark" style="border-radius:25px;" id="tableid">
            <thead>
                <tr>
                    <th style="background-color: #00709e;">Product ID</th>
                    <th style="background-color: #00709e;">Product Name</th>
                    <th style="background-color: #00709e;"> Quantity(Units)</th>

                </tr>
            </thead>
            <tbody id="Row">
            </tbody>
        </table>
        <button type="button" class="btn btn-dark" style="border-radius:20px" data-toggle="modal" data-target="#ConRe" ><i class="far fa-clipboard"></i> Record Reconciliation</button>
        <button type="button" class="btn btn-warning" style="float:right;border-radius:20px" id="discard"><i class="fas fa-undo-alt" ></i>Discard</button>
    </form>
</div>

<!--Confirm Reconciliation Modal-->
<div class="modal fade" id="ConRe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:black;border-radius:20px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Reconciliation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span style="color:limegreen">Do you Confirm the following values entered are entered correctly.</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="border-radius:20px;float:left" data-dismiss="modal" data-toggle="modal" data-target="#Confirm" id="Record">Confirm</button>
                <button type="button" class="btn btn-secondary"  style="border-radius:20px" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Recon Reasoning Product  -->
<div class="modal fade" id="Confirm" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content" style="background-color:black;border-radius:20px">

            <div class="modal-header">
                <h4 class="modal-title" id="modalLabelSmall" style="text-align:center">Stock Inconsistencies</h4>



            </div>

            <div class="modal-body">
                <h5>The Bic Blue Pens has a deficit of 5 units. Please state reason.</h5>
                <textarea class="form-control" placeholder="Reason..."></textarea>
                <br />
                <div class="form-group">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="background-color:dodgerblue; color:black">Person Resonsible:</span>
                            </div>
                            <select class="custom-select">
                                <option selected="">Select Person</option>
                                <option value="1">Dr. McDonald</option>
                                <option value="2">Yusuf</option>
                                <option value="3">Bookkeeper</option>
                            </select>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary custom-close" data-toggle="modal" data-target="#Successful" style="border-radius:20px" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="border-radius:20px">Discard</button>

            </div>
        </div>
    </div>
</div>

<script>
     $(document).ready(function () {
         debugger
         //Collect List of products selected from dropdown
        $("#Product_Type_ID").change(function () {

            var supplierId = $(this).val();
            supID = supplierId;
            debugger
            $.ajax({

                type: "Post",
                url: "/Inventory/GetList?supplierId=" + supplierId,
                contentType: "html",
                success: function (data) {
                    debugger
                    var x = document.getElementById("reco");
                    x.style.display = "block";
                    console.log(data.ProductID);
                    $("#Product_Type_ID").prop("disabled", true);
                    var table = document.getElementById("tableid");
                    if (table.rows.length>0) {
                        for(var k = table.rows.length - 1; k > 0; k--)
                        {
                                table.deleteRow(k);
                        }
                    }
                        

                    var i = 0;
                    var length = data.ProductID.length;
                    while (i < length) {
                        var markup = "<tr><td>" + data.ProductID[i] + "</td><td>" + data.ProductName[i] + "</td><td><input class='form-control' type='number' name='" + data.ProductID + "' required='required'/></td></tr>";
                        i++;
                        $("#Row").append(markup);

                    }
                   
                   
                    

                }

            })

        })
         //Discard Button
         $('#discard').click(() => {
             debugger
             $("#Product_Type_ID").prop("disabled", false);
                    var table = document.getElementById("tableid");
                    if (table.rows.length>0) {
                        for(var k = table.rows.length - 1; k > 0; k--)
                        {
                                table.deleteRow(k);
                        }
             }
             var x = document.getElementById("reco");
             x.style.display = "none";
         });


        //Submit Reconcilliation
     $('#Record').click(() => {
        var rowCount = $('#Row >tr').length;
        let arr = Array();
        let ID = Array();
        var i = 0;
        while (i < rowCount) {
            i++;
            arr.push($("#Row > tr:nth-child(" + i + ")")[0].childNodes[2].children[0].value);
            ID.push($("#Row > tr:nth-child(" + i + ")")[0].childNodes[0].innerHTML);
        }
        console.log(arr);
        console.log(ID);

        debugger
         //$.ajax({
         //           url: "/Inventory/SaveOrder",
         //           type: "POST",
         //           dataType: "json",
         //           contentType: "application/json; charset=utf-8",
         //           data: JSON.stringify({ "procid": ID, "procQuantity": arr, "supId": supID }),
         //           success: function (status) {
         //               if ("success") {
         //                   alert("Saved Successfully");
         //               }
         //           },                 
         //           error: function (xhr, ajaxOptions, thrownError) {
         //               alert(thrownError);
         //               $('#AddingProcedure').hide();
         //               $('#ErrorProcedure').show();
         //           }
         //})


        

        
    });


    })

</script>