<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>No Network</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/Net/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            @{
                if (String.IsNullOrEmpty(ViewBag.errorMessage))
                {
                    <h3 class="text-warning">Hmm..Seems like somethings not quite right..The System Admin has been notified</h3>
                    <h3>We can’t connect to the server at drsavvy.com</h3>
                    <h4>If You didnt casue this , here's what you can try </h4>
                    <h5>Try again later.</h5>
                    <h5>Check your network connection.</h5>
                    <h5>Wait for a response from your system Admin</h5>
                    <a href="~/Views/Account/Login.cshtml">Back to Login</a>
                }
                else
                {
                    <h2 class="text-warning">@ViewBag.errorMessage</h2>
                }
            }
        </div>
    </div>

</body>

</html>
